* {
  padding: 0;
  margin: 0;
}

body {
  margin-top: 2rem;
  height: 95vh;
  width: 95vw;
  background-color: cornsilk;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: darkgreen;
  font-family: sans-serif;
}
canvas {
  margin: 2rem;
  border: 2px solid darkblue;
}
